/* ======= BASIC ELEMENTS ======= */
/* Titles */
.ui-title-page {
    position: relative;
    display: inline-block;
    margin-top: 0;
    padding: 38px 88px 32px;
    font-size: 22px;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    letter-spacing: 0.05em;
}

.title-page__media img {
    margin: 0 auto;
}

.ui-title-block {
    margin-top: 0;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 55px;
}

.ui-title-block__emphasis {
    font-size: 38px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

.ui-title-type-1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.ui-title-type-1_mrg-top_0 {
    margin-top: 0;
}

.ui-title-type-2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 17px;
}

.ui-title-type-2_mod-a {
    margin-bottom: 10px;
}

.ui-subtitle-block {
    color: #888;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.42;
    margin-bottom: 14px;
}

.ui-subtitle-block_first {
    margin-top: -8px;
}

.ui-title-inner {
    color: #444;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.ui-title-inner_lg {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.2;
    margin-top: 0;
}

.ui-title-inner_lg + .ui-decor-1 {
    margin-bottom: 27px;
}

/* Paragrafs */
.block-paragraphs-1 p {
    padding-right: 45px;
    line-height: 1.85;
    margin-bottom: 25px;
}

.block-paragraphs-1 p:last-child {
    margin-bottom: 40px;
}

.block-paragraphs-2 p {
    margin-bottom: 25px;
}

.block-paragraphs-2 .list {
    margin-top: 52px;
}

.block-paragraphs-2 .ui-subtitle-block {
    margin-top: 67px;
}

/* Buttons */
.btn-w-ic {
    padding: 15px 31px;
}

.btn-w-ic .icon {
    margin-left: 10px;
}

.btn-w-ic.btn-sm {
    padding: 14px 26px;
}

.btn-w-ic.btn-lg {
    padding: 17px 35px;
}

.btn-w-ic_2 {
    padding: 17px 50px 17px 20px;
    text-align: left;
    margin-bottom: 12px;
}

.btn-w-ic_2 .icon {
    position: absolute;
    right: 17px;
    top: 20px;
}

.btn-link {
    color: #444;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-link .icon {
    margin-left: 16px;
}

.btn-link-sm {
    font-size: 11px;
}

.btn-link-sm .icon {
    margin-left: 10px;
}

/* Images */
.img-default {
    margin-bottom: 30px;
}

.img-default_mrg_lg {
    margin-bottom: 50px;
}

.img-post {
    margin-top: 30px;
}

img.pull-right {
    padding-left: 20px;
}

img.pull-left {
    padding-right: 20px;
}

.img_type-1 {
    margin-left: -30px;
    margin-right: -30px;
}

.img_type-2 {
    margin-left: -147px;
    margin-top: -45px;
}

/* Lists */
.list {
    margin-bottom: 40px;
    padding-left: 0;
    list-style-type: none;
}

.list li {
    position: relative;
    margin-bottom: 7px;
    padding-left: 35px;
}

.list li:before {
    position: absolute;
    top: 5px;
    left: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.list li > a {
    color: #777;
}

.list li > a:hover {
    text-decoration: none;
}

.list_mod-a {
    font: 11px Montserrat;
    color: #444;
    text-transform: uppercase;
}

.list_mod-a li {
    margin-bottom: 16px;
}

.list_mod-a li:before {
    top: 0;
}

.list_mod-b {
    margin-top: 35px;
    margin-bottom: 0;
}

.list_mod-b li {
    padding-left: 23px;
}

.list_mod-b li:last-child {
    margin-bottom: 0;
}

.list_3-col:before, .list_3-col:after {
    display: table;
    content: "";
}

.list_3-col:after {
    clear: both;
}

.lt-ie8 .list_3-col {
    zoom: 1;
}

.list_3-col li {
    width: 33.3333%;
    display: inline-block;
    margin-right: -3px;
    padding-right: 20px;
    vertical-align: top;
}

.list-mark-1 li:before {
    font-family: 'Pe-icon-7-stroke';
    content: '\e66c';
}

.list-mark-2 li {
    padding-left: 39px;
}

.list-mark-2 li:before {
    left: 14px;
    font-family: FontAwesome;
    color: #333;
    content: '\f0da';
}

.list-mark-2_left-0 li {
    padding-left: 12px;
}

.list-mark-2_left-0 li:before {
    left: 0;
}

.list-mark-3 li:before {
    font-family: FontAwesome;
    content: '\f046';
}

.list-mark-4 li:before {
    font-family: FontAwesome;
    content: '\f178';
    color: #444;
}

.list-mark-5 li:before {
    font-family: FontAwesome;
    content: '\f1d8';
    color: #444;
}

.list-num {
    counter-reset: list;
}

.list-num li:before {
    display: inline-block;
    counter-increment: list;
}

.list-num-1 li:before {
    font-size: 14px;
    content: counter(list) ". ";
    color: #444;
}

/* Forms */
select:focus {
    outline-style: none;
}

input::-webkit-input-placeholder {
    color: #888;
}

input::-moz-placeholder {
    color: #888;
}

input:-ms-input-placeholder {
    color: #888;
}

.ui-form-1 .btn {
    padding-right: 36px;
    margin-top: 10px;
}

.ui-form-2 .form-control {
    font-size: 11px;
    border-color: #eee;
    background-color: transparent;
}

.ui-form-2 textarea.form-control {
    margin-bottom: 10px;
}

.ui-form-2 .btn {
    padding-top: 14px;
    padding-bottom: 14px;
}

.ui-select {
    width: 100%;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    font-size: 16px;
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: transparent;
    text-transform: inherit;
}

/* Radio/check customisation */
.forms__label {
    position: relative;
    display: inline-block;
    margin-bottom: 11px;
    padding-left: 45px;
    cursor: pointer;
}

.forms__label:last-child {
    margin-right: 0;
}

.forms__label-check:before, .forms__label-radio:before {
    position: absolute;
    left: 0;
    border: 1px solid #fff;
    content: '';
}

.forms__label-check:after, .forms__label-radio:after {
    position: absolute;
    display: none;
}

.forms__label-check {
    display: block;
    height: 22px;
    margin-top: 0;
    margin-right: 12px;
    margin-bottom: 19px;
    padding-left: 29px;
    font-weight: 400;
}

.forms__label-check:before {
    top: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    box-shadow: inset 1.5px 2.6px 5px rgba(0, 0, 0, 0.11);
}

.forms__label-check:after {
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    padding-top: 3px;
    padding-top: 5px;
    font: 12px/1 FontAwesome;
    color: #fff;
    content: '\f00c';
    text-align: center;
}

.forms__label-radio {
    height: 12px;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 23px;
}

.forms__label-radio:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.forms__label-radio:after {
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    content: '';
}

.forms__label-radio-1:after {
    background-color: #fff;
}

.forms__label-radio-2:before {
    border: 1px #ccc solid;
}

.forms__label-radio-3:before {
    border: 1px #e4e4e4 solid;
    box-shadow: inset 1px 1.7px 3px rgba(0, 0, 0, 0.2);
}

.forms__label-radio-3:after {
    background-color: #333;
}

.forms__check, .forms__radio {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
}

.forms__check:checked + .forms__label-check:after, .forms__radio:checked + .forms__label-radio:after {
    display: block;
}

.forms__check:checked + .forms__label-check:before {
    box-shadow: none;
}

.forms__radio:checked + .forms__label-radio:before {
    box-shadow: 0 0 2px rgba(211, 211, 211, 0.75);
}

.label-group-inline {
    white-space: nowrap;
}

/* Decor elements */
.ui-decor-wrap {
    position: relative;
    overflow: hidden;
}

.ui-decor-1 {
    width: 30px;
    height: 2px;
}

/* Tables */
.table th:first-child, .table td:first-child {
    padding-left: 20px;
}

.table-type-1 {
    border-bottom: 1px solid #eee;
}

.table-type-1 > thead > tr > th {
    background-color: #f4f4f4;
}

.table-type-2 > thead > tr > th {
    padding-top: 26px;
    padding-bottom: 25px;
}

.table-type-2 > tbody > tr > td {
    border: 1px solid #eee;
}

.table-type-2 > thead:first-child > tr:first-child > th {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom-width: 4px;
    border-left: 1px solid #eee;
}

/* Tabular scrolling for mobile devices */
.table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
}

.table-container::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
}

.table-container::-webkit-scrollbar-thumb {
    border: 3px solid #fff;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Accordion */
.accordion .panel .icon {
    display: inline-block;
    font-style: normal;
    background-color: transparent;
    line-height: 1;
    box-sizing: border-box;
    color: rgb(233, 86, 21);
    cursor: auto;
    font-family: Lato;
    font-size: 13px;
    font-variant: normal;
    font-weight: normal;
    height: 27px;
    margin-left: 0px;
    speak: normal;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
}

.accordion .btn-collapse .icon:before {
    display: block;
    font-size: 27px;
    content: '-';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #FFF;
}

.accordion .btn-collapse.collapsed {
    background-color: transparent;
}

.accordion .btn-collapse.collapsed .icon:before {
    border-color: #999;
    content: '+';
    font-size: 19px;
    padding-top: 6px;
    font-weight: 700;
}

.accordion .panel-title.panel-passive {
    color: #333;
    border-left-color: #eee;
}

.accordion_marg-top_a {
    margin-top: 45px;
}

.panel-heading {
    position: relative;
    color: #333;
}

.panel-heading .btn-collapse {
    position: absolute;
    top: 10px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    left: 0;
}

/* Tabs */
.tab-content img {
    margin-bottom: 20px;
}

/* Dropcap */
.dropcap:first-letter {
    float: left;
    margin-right: 10px;
    padding: 10px;
    font: 700 38px/1 Montserrat;
    color: #fff;
    border-width: 2px;
    border-style: solid;
}

.dropcap_secondary:first-letter {
    color: #222;
    border-width: 2px;
    border-style: solid;
}

.dropcap_sm:first-letter {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 28px;
}

/* Blockquote */
.blockquote cite {
    display: block;
    font-style: normal;
}

/* Pagination */
/* Alert */
.alert .icon {
    display: inline-block;
    margin-right: 18px;
    font-size: 16px;
    vertical-align: middle;
}

.alert__inner {
    padding-left: 70px;
}

.alert .close {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -9px;
    font-size: 18px;
}

.alert-default {
    background-color: whitesmoke;
    color: #222;
}

.alert-default .alert-icon .icon {
    color: #333;
}

.alert-default .close {
    color: #222;
}

.alert-1 {
    background-color: #efcb5a;
}

.alert-2 {
    color: #fff;
    background-color: #984fd1;
}

.alert-3 {
    background-color: #faf9e0;
}

.alert-3 .alert-icon .icon, .alert-3 .close {
    color: #fc4;
}

.alert-4 {
    background-color: #f9dfe1;
}

.alert-4 .alert-icon .icon, .alert-4 .close {
    color: #e95615;
}

.alert-5 {
    background-color: #dff5dc;
}

.alert-5 .alert-icon .icon, .alert-5 .close {
    color: #62d450;
}

.alert-block {
    margin-bottom: 21px;
    padding: 20px 50px 25px;
    text-shadow: none;
}

.alert-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.alert-text {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}

.alert-icon {
    float: left;
    margin-top: 20px;
}

.alert-icon .icon {
    font-size: 30px;
}

/* Tooltip */
.tooltip {
    text-transform: uppercase;
}

.link-tooltip-1, .link-tooltip-2 {
    color: #444444;
    font-weight: 700;
}

/* Progress bar */
.progress_w_border {
    border: 1px solid #eee;
}

.progress_round {
    border-radius: 22px;
}

.progress_round .progress-bar {
    border-radius: 0 22px 22px 0;
}

.progress_shadow {
    box-shadow: inset 0.5px 0.9px 2px rgba(1, 1, 1, 0.1);
}

.progress_background {
    background-color: #f7f7f7;
}

.progress_high {
    height: 12px;
}

.progress_border-1, .progress_border-2 {
    border-width: 2px;
    border-style: solid;
}

.progress_border-2 {
    border-color: #444444;
}

.progress__title {
    font-size: 12px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.progress-2 {
    background-color: #d4ebff;
}

.progress-3 .progress-bar {
    background-color: #15bfe9;
}

.progress-title {
    margin-bottom: 15px;
}

.progress-block-group {
    padding: 53px 43px 28px;
    background-color: #f9f9f9;
}

.progress-block-group .progress-block {
    margin-bottom: 28px;
}

.progress-block_left {
    margin-right: 20px;
}

.progress-block_right {
    margin-left: 20px;
}

.progress-bar {
    position: relative;
}

.progress-bar__number {
    position: absolute;
    top: -15px;
    right: -11px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}

/* Effects */
.btn-effect {
    position: relative;
    margin-right: 1px;
    overflow: hidden;
    z-index: 1;
}

.btn-effect:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 50%;
    opacity: 0;
    z-index: -1;
    content: '';
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-effect:hover:after {
    height: 500%;
    opacity: 1;
}

.btn-effect.btn-primary:after {
    background-color: #fff;
}

.border-effect {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.border-effect__mark {
    color: #fff;
}

.border-effect__top, .border-effect__right, .border-effect__bottom, .border-effect__left {
    position: absolute;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.border-effect__top, .border-effect__bottom {
    width: 100%;
    height: 3px;
}

.border-effect__left, .border-effect__right {
    width: 3px;
    height: 100%;
}

.border-effect__top {
    top: 0;
    left: -100%;
}

.border-effect__right {
    top: -100%;
    right: 0;
}

.border-effect__bottom {
    right: -100%;
    bottom: 0;
}

.border-effect__left {
    bottom: -100%;
    left: 0;
}

/* Sections */
.section-area {
    position: relative;
}

.section-default {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-default_padd-top {
    padding-top: 110px;
}

.section-default_padd-bottom {
    padding-bottom: 110px;
}

.section-content {
    padding-top: 90px;
    padding-bottom: 100px;
}

.section-inner {
    margin-top: 60px;
}

.section-bg:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    content: '';
}

.section-bg__inner {
    position: relative;
    z-index: 110;
}

.section-bg_grey:after {
    background-color: #f4f4f4;
    opacity: 0.95;
}

.section-bg_dark:after {
    background-color: #000;
}

.section-bg_dark-2:after {
    background-color: #000;
    opacity: 0.7;
}

.section-bg_dark-3:after {
    background-color: #000;
    opacity: 0.6;
}

.section-bg_dark-4:after {
    background-color: #000;
    opacity: 0.8;
}

.section-bg_light:after {
    background-color: #f6f6f6;
}

.section-bg_type-a {
    background-image: url("../media/content/bg/bg-2.jpg");
    background-size: cover;
}

.section-full-width__main {
    padding-left: 80px;
    padding-right: 80px;
}

.section-full-width__bg {
    background-size: cover;
}

.section-full-width_mod-a .section-full-width__bg {
    background-image: url("../media/content/bg/bg-1.jpg");
}

.section-full-width_mod-b .section-full-width__bg {
    background-image: url("../media/content/bg/bg-4.jpg");
}

.section-full-width_mod-c {
    background-color: #f6f6f6;
}

.section-full-width_mod-c .section-full-width__bg {
    background-image: url("../media/content/bg/bg-4.jpg");
}

.section-type-1 {
    padding-bottom: 280px;
    padding-top: 20px;
}

.section-type-1 .ui-title-block {
    margin-bottom: 60px;
}

.section-type-1 .list {
    margin-top: 40px;
}

.section-type-1 .list li {
    padding-left: 22px;
}

.section-type-2 {
    margin-top: -252px;
    height: 252px;
}

.section-type-3 {
    background-color: #FFF;
    padding: 36px 80px 51px;
}

.section-type-3 .ui-title-inner {
    margin-bottom: 12px;
}

.section-type-3 .ui-decor-1 {
    margin-bottom: 28px;
}

.section-type-3__inner {
    height: 165px;
}

.section-type-3_color_white {
    color: #FFF;
}

.section-type-3_color_white .ui-title-inner {
    color: #FFF;
}

.section-type-3_color_white .ui-decor-1 {
    background-color: #FFF;
}

.section-type-4 {
    padding-top: 110px;
    padding-bottom: 75px;
}

.section-type-5 {
    padding-top: 55px;
}

.section-type-6 {
    padding-top: 130px;
}

.section-sidebar {
    padding-bottom: 60px;
}

.section-table {
    display: table;
    width: 100%;
    overflow: hidden;
}

.section-table__inner {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

/* Other */
.text-bg {
    padding: 5px;
    color: #fff;
}

.bg-border {
    font-weight: 500;
    color: #222;
    border-radius: 2px;
    border: 1px dashed #222222;
}

.color-dark {
    font-weight: 700;
}

.color-white {
    color: #FFF;
}

/* ======= GLOBAL ======= */
body {
    background-color: #222;
}

.l-theme {
    position: relative;
    margin: auto;
    background-color: #fff;
    overflow-x: hidden;
}

.l-main-content {
    padding-top: 95px;
    padding-bottom: 110px;
}

.l-main-content_pd-lft {
    padding-left: 35px;
}

.l-main-content_pd-rgt {
    padding-right: 68px;
}

.l-main-content_pd-rgt_sm {
    padding-right: 20px;
}

.l-main-content_pd-top_lg {
    padding-top: 110px;
}

.l-sidebar {
    margin-bottom: 70px;
    padding-right: 10px;
}

.l-sidebar_right {
    padding-left: 10px;
    padding-right: 0;
}

/* ======= COMPONENTS ======= */
.accordion_light {
    margin-top: 38px;
    color: #ccc;
}

.accordion_light .panel {
    border-bottom: none;
    background-color: transparent;
}

.accordion_light .panel-title {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.b-404-1 {
    margin-top: 30px;
    padding-top: 120px;
    padding-bottom: 140px;
    background: whitesmoke url("../media/components/b-404/bg-1.png") 50% 50% no-repeat;
    text-align: center;
}

.b-404-1__info {
    margin-top: 55px;
    margin-bottom: 20px;
    font: 700 14px Montserrat;
    color: #444;
    text-transform: uppercase;
}

.b-404-1 .b-404-1__btn {
    color: #444;
    border-color: #444;
    background-color: transparent;
}

.b-404-2 {
    width: 100vw;
    height: 100vh;
    padding-top: 8vh;
    background-image: url(../media/components/b-404/bg-2.jpg);
    background-size: cover;
    text-align: center;
}

.b-404-2__logo {
    display: block;
    max-width: 21vh;
    margin-bottom: 21.5vh;
}

.b-404-2__main {
    margin-bottom: 21vh;
}

.b-404-2__img {
    max-width: 43vh;
    margin-bottom: 0.7vh;
}

.b-404-2__info {
    margin-bottom: 3vh;
    font: 3vh Montserrat;
    color: white;
    text-transform: uppercase;
}

.b-404-2 .b-404-2__btn {
    padding: 1.6vh 2vh;
    font-size: 1.3vh;
    color: #fff;
    border-color: #ccc;
    background-color: transparent;
}

.b-404-2__footer .copyright {
    padding: 0;
    font-size: 1.5vh;
    background-color: transparent;
}

.b-404-2__footer .copyright .social-net {
    margin-top: 0;
    margin-bottom: 1.8vh;
}

.b-404-2__footer .copyright .social-net__link {
    width: auto;
    padding: 0 0.7vh;
    font-size: 1.5vh;
    color: #fff;
}

.b-404-2__footer .copyright p {
    margin-bottom: 0;
}

.section-advantages-1_block-top {
    margin-top: -20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.section-advantages-1_mod-a {
    padding-top: 50px;
    padding-bottom: 55px;
}

.b-advantages-1 {
    position: relative;
    display: inline-block;
    width: 33.3%;
    margin-left: -3px;
    padding: 40px 50px 55px;
    vertical-align: top;
    text-align: center;
}

.b-advantages-1:after {
    position: absolute;
    top: 65px;
    right: -1px;
    bottom: 65px;
    width: 1px;
    background-color: #eee;
    content: '';
}

.b-advantages-1:last-child:after {
    content: none;
}

.b-advantages-1__icon {
    font-size: 44px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-advantages-1__title {
    margin-top: 20px;
    margin-bottom: 16px;
}

.b-advantages-1__btn {
    display: block;
    margin-top: 40px;
    font-weight: 400;
}

.section-advantages-2 {
    margin-top: 13px;
}

.section-advantages-2__inner {
    margin-top: 10px;
    background: url("../media/components/b-advantages/bg-1.png") no-repeat 50% 0;
}

.section-advantages-2 .ui-subtitle-block {
    margin-bottom: 8px;
}

.b-advantages-2 {
    position: relative;
    margin-top: 62px;
    margin-bottom: 78px;
}

.b-advantages-2__icon {
    position: absolute;
    top: 0;
    font-size: 39px;
    line-height: 1;
}

.b-advantages-2__title {
    margin-bottom: 0;
}

.b-advantages-2__info {
    margin-top: 10px;
}

.b-advantages-2__decor {
    display: inline-block;
}

.b-advantages-2_left-col {
    margin-left: -25px;
    padding-right: 18px;
    text-align: right;
}

.b-advantages-2_left-col .b-advantages-2__icon {
    right: -40px;
}

.b-advantages-2_right-col {
    margin-right: -25px;
    padding-left: 18px;
}

.b-advantages-2_right-col .b-advantages-2__icon {
    left: -40px;
}

.section-advantages-3 {
    background: url("../media/components/b-advantages/bg-1.png") no-repeat 50% 10px;
}

.section-advantages-3 .ui-subtitle-block {
    margin-top: 6px;
    margin-bottom: 4px;
}

.b-advantages-3 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 78px;
    padding-left: 93px;
}

.b-advantages-3:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.b-advantages-3__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    height: 67px;
    padding-top: 18px;
    font-size: 32px;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.b-advantages-3__title {
    margin-bottom: -2px;
    font-size: 16px;
    text-transform: none;
}

.b-advantages-3__info {
    margin-top: 21px;
}

.b-advantages-3__link {
    color: #444;
}

.b-advantages-3__decor {
    display: inline-block;
}

.b-advantages-3:hover .b-advantages-3__icon {
    color: #fff;
}

.b-advantages-4 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 53px;
    padding-left: 43px;
    color: #fff;
}

.b-advantages-4:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.b-advantages-4__icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    line-height: 1;
}

.b-advantages-4__title {
    margin-bottom: -2px;
    color: #fff;
}

.b-advantages-4__info {
    margin-top: 17px;
    color: #ccc;
}

.b-advantages-4__decor {
    display: inline-block;
}

.b-advantages-4_mod-a:first-child {
    margin-top: 115px;
}

.section-advantages-5 {
    padding-bottom: 130px;
    padding-left: 95px;
    background-image: url("../media/content/bg/bg-7.jpg");
    background-size: cover;
}

.b-advantages-5 {
    position: relative;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 17px;
}

.b-advantages-5:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.b-advantages-5__icon {
    position: absolute;
    top: -11px;
    left: -149px;
    width: 105px;
    height: 105px;
    padding-top: 5px;
    font-size: 40px;
    color: #444;
    border: 10px solid #f6f6f6;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.b-advantages-5__title {
    margin-bottom: 22px;
}

.b-advantages-5__link {
    color: #444;
}

.b-advantages-5:hover .b-advantages-5__icon {
    color: #fff;
}

.b-banners-1 {
    position: relative;
    margin-top: 75px;
    margin-bottom: 60px;
    padding: 43px 0 55px;
    color: #fff;
    background-image: url(../media/components/b-banners/bg-1.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.b-banners-1__title {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
}

.b-banners-1__subtitle {
    margin-bottom: 3px;
    font: 20px Montserrat;
    text-transform: uppercase;
}

.b-banners-1__list {
    margin-bottom: 15px;
    padding: 30px 100px 0;
}

.b-banners-1__list:before, .b-banners-1__list:after {
    display: table;
    content: "";
}

.b-banners-1__list:after {
    clear: both;
}

.lt-ie8 .b-banners-1__list {
    zoom: 1;
}

.b-banners-1__list li {
    float: left;
    width: 33.3%;
    padding-right: 20px;
    padding-left: 0;
    font-size: 12px;
    color: #fff;
}

.b-banners-1__list li:before {
    font-size: 18px;
}

.b-banners-1__decor {
    display: inline-block;
    width: 80px;
    height: 3px;
}

.b-banners-1 .btn {
    margin-top: 10px;
}

.b-banners-1 .btn .icon {
    color: #fff;
}

.b-banners-1 .b-banners-1__list li:before {
    position: relative;
    left: auto;
    padding-right: 10px;
    color: #fff;
}

.b-banners-1_mod-a {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 56px 40px 70px;
    background-color: #000;
    background-image: url(../media/components/b-banners/bg-2.jpg);
}

.b-banners-1_mod-a .btn {
    margin-top: 37px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.b-banners-1_mod-a .b-banners-1__title {
    margin-bottom: 18px;
    line-height: 1.2;
}

.b-blockquote-1 {
    padding: 38px 40px 38px 50px;
    border-left-width: 4px;
    border-left-style: solid;
    letter-spacing: -0.01em;
}

.b-blockquote-2 {
    padding: 94px 60px 50px;
    font: 18px/1.44 Montserrat;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.b-blockquote-2:before {
    position: absolute;
    top: 48px;
    bottom: -12px;
    left: 50%;
    margin-left: -11px;
    font: 24px FontAwesome;
    color: #fff;
    content: '\f10d';
}

.b-blockquote-2__footer {
    margin-top: 37px;
    margin-bottom: 20px;
}

.b-blockquote-2__cite {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    text-align: left;
}

.b-blockquote-2__author {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1;
}

.b-blockquote-2__category {
    display: block;
    font-size: 12px;
    color: #ccc;
}

.b-blockquote-2__img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 12px;
    vertical-align: middle;
    border-radius: 35px;
    background-color: #f6f6f6;
    overflow: hidden;
}

.section-branches {
    padding-top: 110px;
    padding-bottom: 90px;
}

.section-branches__map {
    margin-bottom: 60px;
}

.section-branches .ui-title-block {
    margin-bottom: 40px;
}

.section-branches .ui-subtitle-block {
    margin-bottom: 0;
}

.b-branches-group {
    margin-right: -30px;
}

.b-branches {
    position: relative;
    display: inline-block;
    /*width: 33.33%;*/
    margin-top: 69px;
    margin-right: -3px;
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 90px;
    vertical-align: top;
}

.b-branches__icon {
    position: absolute;
    top: -6px;
    left: 0;
    width: 65px;
    height: 65px;
    padding-top: 16px;
    font-size: 30px;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.b-branches__title {
    margin-bottom: 12px;
    text-transform: none;
}

.b-branches__item {
    position: relative;
    margin-bottom: 3px;
    padding-top: 2px;
    padding-left: 23px;
}

.b-branches__item .icon {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 14px;
}

.b-branches:hover .b-branches__icon {
    color: #fff;
}

.section-brands {
    background-color: whitesmoke;
}

.section-brands__inner {
    position: relative;
    margin-bottom: -50px;
    padding-top: 130px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
}

.section-brands_mod-a {
    padding-top: 80px;
    padding-bottom: 75px;
}

.section-brands_bg-1 .section-brands__inner {
    top: -50px;
    background-image: url("../media/content/bg/bg-5.png");
}

.section-brands_bg-2 .section-brands__inner {
    top: -120px;
    padding-top: 200px;
    padding-bottom: 15px;
    background-image: url("../media/content/bg/bg-6.png");
}

.b-brands_mod-a {
    margin-right: -55px;
}

.b-brands_mod-a .b-brands__item {
    display: inline-block;
    width: 33.33%;
    margin-right: -3px;
    margin-bottom: 25px;
    padding-right: 25px;
    vertical-align: top;
}

.b-brands_mod-b .b-brands__item {
    margin-bottom: 70px;
}

.section-contacts-1 {
    padding-top: 60px;
    padding-bottom: 67px;
}

.section-contacts-1_mod-a {
    padding-bottom: 57px;
}

.b-contacts-1 {
    font-family: Montserrat;
    color: white;
}

.b-contacts-1__item {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1;
    border-left: 1px solid #fff;
    text-align: center;
}

.b-contacts-1__item:last-child {
    border-right: 1px solid #fff;
}

.b-contacts-1__title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.b-contacts-1__info {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.b-contacts-1__info_xs {
    font-size: 24px;
}

.b-contacts-1__info_sm {
    font-size: 28px;
}

.b-contacts-1__form, .mc4wp-form {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.b-contacts-1__form-input {
    width: 100%;
    margin-bottom: 0;
    padding: 10px 30px 14px 10px;
    padding-right: 50px;
    font: 13px Lato;
    border-width: 0 0 1px 0;
    background-color: transparent;
}

.b-contacts-1__form-input::-webkit-input-placeholder {
    color: #fefefe;
}

.b-contacts-1__form-input::-moz-placeholder {
    color: #fefefe;
}

.b-contacts-1__form-input:-ms-input-placeholder {
    color: #fefefe;
}

.b-contacts-1__form-btn {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.b-contacts-1_mod-a .b-contacts-1__item {
    padding: 0 50px 20px;
}

.b-contacts-1 .b-contacts-1__item {
    vertical-align: middle;
}

.section-contacts-2 {
    margin-top: -18px;
    margin-bottom: 38px;
    padding: 31px 5px 37px 17px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.b-contacts-2 {
    font-family: Montserrat;
}

.b-contacts-2__item {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1;
    border-right: 1px solid #eee;
    border-left: 1px solid #fff;
}

.b-contacts-2__item:before, .b-contacts-2__item:after {
    display: table;
    content: "";
}

.b-contacts-2__item:after {
    clear: both;
}

.lt-ie8 .b-contacts-2__item {
    zoom: 1;
}

.b-contacts-2__item:last-child {
    border-right: none;
}

.b-contacts-2__icon {
    display: inline-block;
    margin-top: 4px;
    padding-right: 14px;
    font-size: 30px;
    vertical-align: top;
}

.b-contacts-2__inner {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.b-contacts-2__wrap {
    text-align: center;
}

.b-contacts-2__title {
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.b-contacts-2__info {
    font-size: 19px;
    color: #444;
}

.b-contacts-2__info_lg {
    font-size: 20px;
}

.b-contacts-3 {
    margin-top: 45px;
    margin-right: 10px;
    padding: 53px 43px 35px;
    border: 1px solid #eee;
}

.b-contacts-3__section {
    margin-top: 34px;
}

.b-contacts-3__main-info {
    margin-bottom: 44px;
}

.b-contacts-3__main-info__item {
    margin-bottom: 13px;
    font: 20px/1 Montserrat;
    color: #444;
    letter-spacing: 0.015em;
}

.b-contacts-3__main-info__item .icon {
    margin-right: 15px;
    font-size: 18px;
    color: #888;
}

.b-contacts-3__title {
    margin-bottom: 18px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.b-contacts-3__subtitle {
    font-weight: 900;
    color: #444;
    letter-spacing: 0.05em;
}

.b-contacts-3__info {
    margin-bottom: 15px;
}

.map {
    height: 600px;
}

.section-form-1 {
    position: relative;
}

.section-form-1_mod-a {
    background-image: url("../media/content/bg/bg-3.jpg");
}

.section-form-1_mod-a .ui-title-block {
    color: #fff;
}

.section-form-1_mod-a .section-form-1__inner {
    padding-right: 65px;
}

.b-form-1 {
    margin-top: 40px;
}

.b-form-1 .btn {
    margin-top: 30px;
}

.b-form-1_mod-a .btn {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.b-form-1_mod-b {
    margin-right: 68px;
    margin-bottom: 70px;
}

.b-form-request {
    width: 60%;
    color: #fff;
}

.b-form-request__parallax {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 723px;
}

.b-form-request__inner {
    padding: 90px 60px 40px 30%;
}

.b-form-request__title {
    padding-left: 50px;
    font: 40px Roboto;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.b-form-request__title-emphasis {
    font-size: 28px;
    font-weight: 500;
}

.b-form-request__text {
    padding-left: 50px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.b-form-request__text p {
    margin-bottom: 0;
}

.b-form-request__icon {
    position: absolute;
    top: -150px;
    left: -150px;
    width: 150px;
    height: 150px;
    padding-top: 32px;
    font-size: 60px;
    border: 10px solid rgba(255, 255, 255, 0.15);
    text-align: center;
}

.b-form-request__form {
    position: relative;
    float: right;
    width: 70%;
    padding: 60px 65px;
}

.b-form-request__form .form-control {
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 9px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
}

.b-form-request__form .form-control:focus {
    background-color: transparent;
}

.b-form-request__form .form-control::-webkit-input-placeholder {
    color: #fff;
}

.b-form-request__form .form-control::-moz-placeholder {
    color: #fff;
}

.b-form-request__form .form-control:-ms-input-placeholder {
    color: #fff;
}

.b-form-request__form .btn {
    color: #fff;
    background-color: transparent;
}

.section-history__inner {
    padding-right: 40px;
}

.b-history {
    position: relative;
    margin-top: 63px;
    border-left: 1px solid #eee;
}

.b-history:before, .b-history:after {
    position: absolute;
    left: -3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
    content: '';
}

.b-history:before {
    top: -3px;
}

.b-history:after {
    bottom: -3px;
}

.b-history__item {
    padding-top: 40px;
    padding-bottom: 23px;
}

.b-history__item:before, .b-history__item:after {
    display: table;
    content: "";
}

.b-history__item:after {
    clear: both;
}

.lt-ie8 .b-history__item {
    zoom: 1;
}

.b-history__date {
    position: relative;
    float: left;
    width: 95px;
    padding-bottom: 13px;
    padding-left: 33px;
    font: 700 12px Montserrat;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

.b-history__date:before {
    position: absolute;
    bottom: -4px;
    left: -4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    content: '';
}

.b-history__inner {
    padding-left: 136px;
}

.b-history__title {
    margin-top: 0;
    margin-bottom: 13px;
}

.b-history__info {
    margin-top: 23px;
}

.b-history__btn {
    display: block;
    margin-top: 30px;
    padding-left: 136px;
}

/* MAIN SLIDER */
.main-slider {
    color: #fff;
    max-width: 1920px !important;
}

.main-slider__title {
    margin-bottom: 8px;
    padding-top: 252px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.main-slider__info {
    margin-top: 22px;
    font: 400 38px/1 Montserrat;
}

.main-slider__info-emphasis {
    display: block;
    margin-top: 7px;
    font-size: 48px;
    text-transform: uppercase;
}

.main-slider__btn {
    margin-top: 37px;
    margin-right: 10px;
    padding: 14px 34px;
}

.main-slider__btn_white {
    color: #fff;
    border-color: #fff;
}

/*01  Blog */
.b-post .entry-title, .b-post .entry-title a {
    color: #444;
}

.b-post .entry-meta__item {
    margin-right: 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
}

.b-post .entry-meta__link {
    color: #777;
}

.b-post .entry-meta__icon {
    display: inline-block;
    margin-top: -3px;
    margin-right: 3px;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
}

.b-post .entry-date {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.b-post .entry-date__month {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.b-post .entry-header {
    position: relative;
}

.b-post p + p {
    margin-top: 20px;
}

.b-post-1 {
    margin-top: 75px;
    margin-bottom: 45px;
    padding-right: 15px;
    padding-left: 15px;
}

.b-post-1 .entry-title {
    margin-bottom: 10px;
    padding-top: 37px;
    line-height: 1.625;
    text-transform: uppercase;
}

.b-post-1 .entry-meta {
    margin-left: 5px;
    text-transform: uppercase;
}

.b-post-1 .entry-date {
    position: absolute;
    top: -21px;
    left: 0;
    padding: 16px 17px 20px;
}

.b-post-1 .entry-content {
    margin-top: 23px;
}

.b-post-1 .btn {
    margin-top: 19px;
    padding: 14px 18px 11px;
    font-size: 11px;
    border-color: #ccc;
}

.b-post-1 .btn .icon {
    margin-left: 14px;
}

.b-post-1_mod-a {
    margin-top: 48px;
    margin-bottom: 35px;
    padding-right: 10px;
    padding-left: 0;
}

.b-post-1_mod-a .entry-content {
    margin-top: 23px;
}

.b-post-2 .entry-main {
    margin-top: 45px;
}

.b-post-2 .entry-title {
    margin-top: 3px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.5;
    text-transform: none;
}

.b-post-2 .entry-meta__item {
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-post-2 .entry-meta__item:after {
    padding-right: 6px;
    padding-left: 6px;
    content: '/';
}

.b-post-2 .entry-meta__item:last-child:after {
    content: none;
}

.b-post-2 .entry-meta__link {
    color: #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-post-3 {
    margin-bottom: 48px;
}

.b-post-3:last-child {
    margin-bottom: 40px;
}

.b-post-3 .entry-media {
    float: left;
    max-width: 100px;
}

.b-post-3 .entry-main {
    padding-left: 135px;
}

.b-post-3 .entry-title {
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
    text-transform: none;
}

.b-post-3 .entry-meta {
    margin-bottom: 10px;
    line-height: 1;
}

.b-post-3 .entry-meta__item {
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-post-3 .entry-meta__item:after {
    padding-right: 6px;
    padding-left: 6px;
    content: '/';
}

.b-post-3 .entry-meta__item:last-child:after {
    content: none;
}

.b-post-3 .entry-meta__link {
    color: #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-post-3__link-all {
    margin-left: 155px;
    font-weight: 400;
}

.b-post-4 {
    margin-bottom: 48px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eee;
}

.b-post-4 .entry-media {
    position: relative;
    margin-bottom: 53px;
}

.b-post-4 .entry-media__wrap-btn {
    position: absolute;
    right: 10px;
    bottom: 21px;
}

.b-post-4 .entry-media__btn {
    margin-right: 10px;
    padding: 5px 12px;
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-post-4 .entry-media__btn .icon {
    padding-right: 6px;
    font-size: 12px;
}

.b-post-4 .entry-media .player {
    max-height: 350px;
}

.b-post-4 .entry-media .player__title {
    position: absolute;
    bottom: 26px;
    left: 25px;
    font: 12px Montserrat;
    color: white;
    text-transform: uppercase;
}

.b-post-4 .entry-media .player__title .icon {
    margin-right: 5px;
}

.b-post-4 .entry-content {
    margin-top: 35px;
    margin-bottom: 30px;
}

.b-post-4 .entry-title {
    margin-top: 3px;
    margin-bottom: 12px;
    text-transform: none;
}

.b-post-4 .entry-meta {
    margin-bottom: 10px;
    line-height: 1;
}

.b-post-4 .entry-meta__item {
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-post-4 .entry-meta__item:after {
    padding-right: 6px;
    padding-left: 6px;
    content: '/';
}

.b-post-4 .entry-meta__item:last-child:after {
    content: none;
}

.b-post-4 .entry-meta__link {
    color: #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-post-4__link-all {
    margin-left: 155px;
    font-weight: 400;
}

.b-post-4_mod-a .section-bg {
    position: relative;
    background-image: url("../media/content/bg/bg-8.jpg");
}

.b-post-4_mod-a .b-blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 110px;
    border-radius: 0;
    background-color: transparent;
}

.b-post-4_mod-a .entry-media {
    position: static;
    margin-bottom: 0;
}

.b-post-4 + .pagination {
    margin-top: 73px;
    margin-bottom: 30px;
}

.b-post-full {
    margin-bottom: 66px;
}

.b-post-full .entry-media {
    position: relative;
    margin-bottom: 53px;
}

.b-post-full .entry-media__wrap-btn {
    position: absolute;
    right: 10px;
    bottom: 21px;
}

.b-post-full .entry-media__btn {
    margin-right: 10px;
    padding: 5px 12px;
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-post-full .entry-media__btn .icon {
    padding-right: 6px;
    font-size: 12px;
}

.b-post-full .entry-content {
    margin-top: 35px;
    margin-bottom: 49px;
}

.b-post-full .entry-title {
    margin-top: 3px;
    margin-bottom: 12px;
    text-transform: none;
}

.b-post-full .entry-title-inner {
    margin-top: -8px;
    margin-bottom: 10px;
}

.b-post-full .entry-meta {
    margin-bottom: 10px;
    line-height: 1;
}

.b-post-full .entry-meta__item {
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-post-full .entry-meta__item:after {
    padding-right: 6px;
    padding-left: 6px;
    content: '/';
}

.b-post-full .entry-meta__link {
    color: #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-post-full .post-section-inner {
    margin-top: 55px;
    margin-bottom: 45px;
}

.b-post-full .entry-blockquote {
    position: relative;
    margin: 50px;
    border-radius: 5px;
    background-image: url("../media/content/bg/bg-9.jpg");
}

.b-post-full .post-tags {
    float: left;
    padding-right: 30px;
}

.b-post-full .post-tags__icon {
    padding-right: 8px;
    padding-left: 5px;
    font-size: 16px;
}

.b-post-full .post-tags___item {
    font: 13px Montserrat;
    color: #444;
}

.b-post-full .entry-footer__link {
    float: right;
    margin-right: 11px;
    padding: 2px 14px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}

.b-post-full .entry-footer__link .icon {
    margin-right: 5px;
    font-size: 12px;
}

/*02  Comments */
.section-comment {
    margin-top: 44px;
}

.comments-list {
    margin-top: 45px;
}

.comments-list .children {
    margin-left: 110px;
}

.comments-list .comment {
    margin-bottom: 45px;
}

.comments-list .comment-avatar {
    float: left;
    width: 80px;
}

.comments-list .comment-inner {
    padding-left: 108px;
}

.comments-list .comment-header {
    margin-bottom: 18px;
    line-height: 1;
}

.comments-list .comment-author {
    margin-right: 11px;
    margin-bottom: 10px;
    font: normal 700 12px Montserrat;
    color: #444;
    text-transform: uppercase;
}

.comments-list .comment-datetime {
    padding-left: 13px;
    font: normal normal 11px Montserrat;
    color: #888;
    border-left: 1px solid #eee;
    text-transform: uppercase;
}

.comments-list .comment-btn {
    float: right;
    margin-right: 10px;
    padding-left: 10px;
    font: 11px Montserrat;
    border-left: 1px solid #888;
    text-transform: uppercase;
}

.comments-list .comment-body {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*03  Blog form */
.section-reply-form {
    margin-top: 63px;
    margin-bottom: 10px;
}

.form-reply {
    margin-top: 35px;
}

/*04 Other */
.about-author {
    padding: 48px 34px 45px;
    border: 1px solid #eee;
}

.about-author__img {
    float: left;
    width: 100px;
}

.about-author__inner {
    padding-left: 129px;
    line-height: 1.81;
}

.about-author__header {
    margin-bottom: 13px;
    line-height: 1;
}

.about-author__title {
    margin-right: 11px;
    font: 700 14px Montserrat;
    color: #444;
    text-transform: uppercase;
}

.about-author__category {
    padding-left: 10px;
    font: 11px/1 Montserrat;
    color: #888;
    border-left: 1px solid #eee;
    text-transform: uppercase;
}

.about-author__description {
    margin-top: 30px;
}

.about-author__footer {
    margin-top: 26px;
    margin-left: 7px;
}

.section-pricing {
    position: relative;
    margin-top: 110px;
    margin-bottom: 120px;
}

.section-pricing_bg {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("../media/content/bg/bg-11.jpg");
}

.b-pricing-group-1 {
    padding-right: 50px;
    padding-left: 50px;
}

.b-pricing {
    position: relative;
    padding: 45px 30px;
    color: #444;
    background-color: #f6f6f6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.b-pricing__title {
    margin-top: 0;
    margin-bottom: 0;
    font: 14px Montserrat;
    color: #444;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.b-pricing__info {
    margin-bottom: 16px;
}

.b-pricing__icon {
    position: relative;
    display: block;
    font-size: 34px;
    -webkit-transition: none;
    transition: none;
}

.b-pricing__icon:before, .b-pricing__icon:after {
    position: absolute;
    top: 38px;
    width: 50px;
    height: 1px;
    background-color: #ddd;
    content: '';
}

.b-pricing__icon:before {
    left: -30px;
}

.b-pricing__icon:after {
    right: -30px;
}

.b-pricing__icon .icon {
    padding-right: 3px;
    padding-left: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-pricing .b-pricing-price {
    position: relative;
    padding-top: 10px;
    padding-bottom: 8px;
    font: 24px/1 Montserrat;
    color: #111;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-pricing .b-pricing-price__number {
    font-size: 38px;
    font-weight: 700;
    -webkit-transition: none;
    transition: none;
    text-transform: uppercase;
}

.b-pricing .b-pricing-list {
    padding-top: 40px;
    padding-bottom: 34px;
    font-weight: 700;
}

.b-pricing .b-pricing-list__item {
    margin-bottom: 14px;
}

.b-pricing .btn {
    padding: 15px 15px;
    color: #fff;
    border-color: #222;
    background-color: #222;
}

.b-pricing .btn .icon {
    color: #fff;
}

.b-pricing:hover {
    color: #fff;
}

.b-pricing:hover .b-pricing-price {
    color: #fff;
}

.b-pricing:hover .b-pricing__title {
    color: #fff;
}

.b-pricing:hover .b-pricing__icon:before, .b-pricing:hover .b-pricing__icon:after {
    background-color: #fff;
}

.b-pricing:hover .b-pricing__icon .icon {
    color: #fff;
}

.b-pricing_mod-a {
    padding-top: 50px;
    border: 1px solid #eee;
    background-color: #fff;
}

.b-pricing_mod-a .b-pricing__icon .icon {
    color: #444;
}

.b-pricing_mod-a .b-pricing-price {
    padding-top: 14px;
    padding-bottom: 0;
    font-size: 50px;
}

.b-pricing_mod-a .b-pricing-price__number {
    font: inherit;
}

.b-pricing_mod-a .btn {
    margin-bottom: 10px;
    padding: 14px 30px;
    color: #444;
    border-color: #222;
    background-color: transparent;
    letter-spacing: -0.05em;
}

.b-pricing_mod-a .btn .icon {
    display: none;
}

.b-pricing_mod-a .b-pricing-list {
    margin-bottom: 4px;
}

.b-pricing_mod-a .b-pricing__icon:before, .b-pricing_mod-a .b-pricing__icon:after {
    width: 70px;
}

.b-pricing_mod-a:hover {
    padding-top: 60px;
}

.b-pricing_mod-a:hover .btn {
    color: #fff;
    border-color: #fff;
}

.b-pricing_mod-a:hover .b-pricing__icon:before, .b-pricing_mod-a:hover .b-pricing__icon:after {
    top: 32px;
}

.b-pricing_mod-a:hover .b-pricing-list {
    padding-top: 30px;
}

.b-pricing_mod-b .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.b-pricing_mod-b .btn .icon {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-pricing_mod-b:hover .btn {
    color: #444;
    background-color: #fff;
}

.b-pricing_mod-b:hover .btn .icon {
    color: #444;
}

.section-progress {
    position: relative;
    padding-top: 86px;
    padding-bottom: 85px;
}

.section-progress_bg-1 {
    background-image: url("../media/components/b-progress/bg-1.jpg");
}

.section-progress_bg-2 {
    background-image: url("../media/components/b-progress/bg-2.jpg");
}

.section-progress_bg-3 {
    background-image: url("../media/components/b-progress/bg-3.jpg");
}

.b-progress-list {
    margin-bottom: 0;
    padding-top: 0;
    font-family: Montserrat;
    color: #fff;
    text-transform: uppercase;
}

.b-progress-list:before, .b-progress-list:after {
    display: table;
    content: "";
}

.b-progress-list:after {
    clear: both;
}

.lt-ie8 .b-progress-list {
    zoom: 1;
}

.b-progress-list__wrap {
    padding-top: 36px;
    padding-bottom: 20px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.b-progress-list__item {
    position: relative;
    float: left;
    width: 33.3%;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.b-progress-list__inner {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.b-progress-list__percent {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.b-progress-list__name {
    top: 137px;
    display: block;
    padding-bottom: 3px;
    font-size: 12px;
}

.b-progress-list__icon {
    display: inline-block;
    margin-right: 14px;
    font-size: 45px;
    line-height: 1;
    vertical-align: middle;
}

.b-progress-list__icon:before {
    font-size: 45px;
}

.b-progress-list_mod-a .b-progress-list__item:nth-child(2) {
    padding-right: 20px;
    padding-left: 20px;
}

.b-progress-list_mod-a .b-progress-list__item:nth-child(2) .b-progress-list__wrap {
    padding-bottom: 30px;
    border: 1px solid white;
}

.b-progress-list_mod-b .b-progress-list__wrap {
    position: relative;
    margin-top: 8px;
    padding-top: 15px;
    padding-bottom: 24px;
    border-color: #888;
    border-left-width: 3px;
    border-left-style: solid;
}

.b-progress-list_mod-b .b-progress-list__wrap:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3px;
    height: 20px;
    background-color: #888;
    content: '';
}

.b-progress-list_mod-b .b-progress-list__name {
    color: #888;
}

.b-progress-list_mod-b .b-progress-list__icon {
    color: #444;
}

.b-reviews-1 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.b-reviews-1__header {
    font-family: Montserrat;
}

.b-reviews-1__foto {
    float: left;
    max-width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.b-reviews-1__wrap {
    margin-bottom: 37px;
    padding-left: 85px;
}

.b-reviews-1__wrap:before, .b-reviews-1__wrap:after {
    display: table;
    content: "";
}

.b-reviews-1__wrap:after {
    clear: both;
}

.lt-ie8 .b-reviews-1__wrap {
    zoom: 1;
}

.b-reviews-1__name {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
}

.b-reviews-1__categories {
    font-size: 12px;
}

.b-reviews-1__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.b-reviews-1_color_white .b-reviews-1__title {
    color: white;
}

.b-reviews-1_color_white .b-reviews-1__name {
    color: white;
}

.b-reviews-1_color_white .b-reviews-1__categories {
    color: #ccc;
}

.b-reviews-1_color_white .b-reviews-1__content {
    color: #ccc;
}

.social-net__item {
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 0;
}

.social-net__link {
    display: block;
    width: 32px;
    height: 32px;
    padding-top: 10px;
    font-size: 13px;
    color: #888;
    border: 1px solid #eee;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-team {
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
}

.b-team__inner {
    padding-right: 2px;
    padding-left: 2px;
}

.b-team__name {
    margin-top: 44px;
    margin-bottom: 0;
}

.b-team__category {
    margin-bottom: 15px;
    font: 11px Montserrat;
    text-transform: uppercase;
}

.b-team__description {
    margin-top: 28px;
}

.b-team__media {
    position: relative;
}

.b-team__media:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    content: '';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-team .social-net {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 100%;
    margin-left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.b-team .social-net__item {
    margin-right: 5px;
    margin-left: 5px;
}

.b-team .social-net__link {
    font-size: 14px;
    color: #fff;
    border: none;
}

.b-team:hover .social-net {
    opacity: 1;
    z-index: 1;
}

.b-team:hover .b-team__media:after {
    opacity: 0.8;
}

.section-title-page {
    position: relative;
    height: 320px;
    background: url("../media/components/b-title-page/bg-1.jpg");
}

.b-title-page {
    margin-top: 100px;
    margin-bottom: 4px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.b-title-page__info {
    font: 300 18px/1.55 Montserrat;
    color: #fff;
}

.b-title-page__subtitle {
    text-transform: none;
}

/* ======= TYPOGRAPHY ======= */
.typography-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.typography-section-border {
    border-bottom: 4px double #eee;
}

.typography-section__inner {
    margin-top: 57px;
}

.typography-title-number {
    padding-left: 85px;
    font-size: 16px;
    line-height: 1;
    color: #999;
    vertical-align: middle;
}

.typography__highlights {
    margin-bottom: 23px;
}

.btn-typography {
    margin-right: 22px !important;
    margin-bottom: 40px;
    vertical-align: bottom;
}

.typography-dropcap {
    margin-top: 44px;
}

.typography-blockquote {
    margin-top: 90px;
}

.typography-page .typography-title {
    margin-top: 0;
    margin-bottom: 30px;
    font: 400 30px Roboto;
    color: #777;
}

.typography-page .list {
    margin-bottom: 45px;
}

.typography-page .checkbox-group, .typography-page .label-group {
    margin-left: 20px;
}

.typography-page .checkbox-group {
    margin-bottom: 50px;
}

.typography-page .ui-form {
    margin-bottom: 80px;
}

.typography-page .alert-group {
    margin-bottom: 55px;
}

.typography-page .table {
    margin-bottom: 65px;
}

.typography-page .typography-last-elem {
    margin-bottom: 0;
}

.typography-page .b-reviews-2 {
    margin-bottom: 75px;
}

.typography-page .b-reviews-3 {
    margin-top: 70px;
}

.table_primary-headings h1, .table_primary-headings h2 {
    margin-bottom: 29px;
    line-height: 1;
    vertical-align: middle;
}

.table_primary-headings h3, .table_primary-headings h4, .table_primary-headings h5, .table_primary-headings h6 {
    margin-bottom: 34px;
}

.wrap-title {
    margin-bottom: 56px;
}

/* ======= FOOTER ======= */
.footer_mod-a .footer__main {
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer_mod-a .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__main {
    padding-top: 55px;
    padding-bottom: 70px;
    color: #ccc;
}

.footer__contact {
    position: relative;
    margin-bottom: 24px;
    padding-left: 30px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.footer__contact_emphasis {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
}

.footer__contact .icon {
    position: absolute;
    left: 0;
    width: 14px;
    margin-right: 3px;
    font-size: 14px;
    text-align: center;
}

.footer__info {
    margin-bottom: 30px;
}

.copyright {
    padding: 37px 0;
    color: #888;
    background-color: #191919;
}

.copyright__emphasis {
    padding-right: 5px;
    padding-left: 5px;
    color: #ccc;
}

.copyright .social-net {
    margin-bottom: 0;
    text-align: center;
}

.copyright .social-net__item {
    margin-right: 0;
    padding-right: 3px;
    padding-left: 3px;
}

.copyright .social-net__link {
    display: inline-block;
    width: 29px;
    height: auto;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    border: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.copyright .social-net__link:hover {
    color: #fff;
}

.copyright-links {
    float: right;
    padding-left: 30px;
}

.copyright-links__item {
    padding-right: 11px;
    padding-left: 10px;
    color: #888;
    border-right: 1px solid #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 0.03em;
}

.copyright-links__item:last-child {
    padding-right: 0;
    border-right: none;
}

.footer-section {
    margin-top: 54px;
}

.footer-section__title {
    margin-bottom: 18px;
    font-size: 14px;
    color: #fff;
}

.footer-section__title + .ui-decor-1 {
    margin-bottom: 40px;
}

.footer-list .footer-list__item {
    margin-bottom: 12px;
    padding-left: 22px;
}

.footer-list .footer-list__item:before {
    font-size: 13px;
    color: #ccc;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.footer-list .footer-list__link {
    color: #ccc;
    letter-spacing: 0.03em;
}

.footer-list_two-col .footer-list__item {
    display: inline-block;
    width: 50%;
    margin-right: -3px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.footer-form {
    position: relative;
    max-width: 285px;
    margin-top: 30px;
    border: 1px solid #888;
}

.footer-form__info {
    max-width: 290px;
}

.footer-form__input, .footer-form__btn {
    border: none;
    background-color: transparent;
}

.footer-form__input {
    width: 100%;
    margin-bottom: 0;
    padding: 10px 50px 10px 20px;
}

.footer-form__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    line-height: 1;
    color: #888;
}

.footer-gallery {
    padding-top: 5px;
}

.footer-gallery__item {
    display: inline-block;
    width: 33.3%;
    margin-right: -3px;
    margin-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.footer-letter {
    margin-top: 80px;
    padding-bottom: 55px;
    border-bottom: 1px solid #3a3a39;
}

.footer-letter__logo {
    display: inline-block;
    margin-bottom: 36px;
    margin-left: 20px;
}

.footer-letter__btn.btn {
    margin-top: 37px;
    padding-top: 17px;
    border-color: #fff;
}

/* ======= HEADER ======= */
.header {
    position: relative;
    z-index: 1000;
}

.header .logo {
    padding-top: 40px;
}

.header .social-net {
    margin-right: 30px;
}

.header .social-net__link {
    padding-top: 3px;
    text-align: center;
}

.header .navbar-trigger .icon-bar {
    background-color: #333;
}

.header .social-net__item {
    margin-right: 3px;
    padding-left: 0;
}

.header_mod-a .top-bar {
    background-color: #f4f4f4;
}

.header_mod-a .header-info {
    font: 11px Montserrat;
    text-transform: uppercase;
}

.header_mod-a .social-net {
    margin-right: 10px;
}

.header_mod-a .social-net__link {
    width: auto;
    height: auto;
    padding-right: 10px;
    line-height: 1;
    border: none;
}

.header-contact__item {
    display: inline-block;
    margin-top: 3px;
    margin-left: 31px;
    font-family: Montserrat;
}

.header-contact .icon {
    margin-right: 7px;
    font-size: 14px;
    color: #444;
}

.header-nav {
    padding-top: 35px;
    text-align: right;
}

.header-main__btn {
    margin-top: 22px;
    margin-left: 18px;
    padding: 13px 24px;
    font-size: 12px;
    font-weight: 400;
}

/*SEARCH MODAL*/
.header-search {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.95);
    opacity: 0;
    z-index: 99999;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-search.open {
    visibility: visible;
    opacity: 1;
}

.btn_header_search {
    float: right;
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 25px;
    line-height: 1;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.header-search .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border: none;
    background-color: #fff !important;
    opacity: 1 !important;
    z-index: 999;
}

.search-open {
    float: right;
    height: 40px;
    padding-top: 7px;
    padding-left: 22px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
}

.header-search.open {
    visibility: visible;
    opacity: 1;
}

.search-global {
    position: absolute;
    top: 50vh;
    margin-top: -120px;
}

.search-global__input {
    width: 100%;
    padding-right: 50px;
    padding-bottom: 12px;
    font: 700 72px Montserrat;
    color: #fff;
    border: none;
    border-bottom: 1px solid #919191;
    background-color: transparent;
    opacity: 1;
}

.search-global__input::-moz-placeholder {
    color: #fff;
}

.search-global__input:-ms-input-placeholder {
    color: #fff;
}

.search-global__input::-webkit-input-placeholder {
    color: #fff;
}

.search-global__input:focus {
    outline-style: none;
}

.search-global__btn {
    position: absolute;
    top: 34px;
    right: 0;
    font-size: 30px;
    color: #fff;
    border: none;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.search-global__note {
    margin-top: 41px;
    font: 14px Montserrat;
    color: #555;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 */
.l-theme.sticky .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5px;
    background-color: #020202;
    box-shadow: 0 0 6px 0 #333;
    opacity: 0.7;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

.l-theme.sticky .header-nav:hover {
    opacity: 1;
}

.l-theme.sticky .header-nav:hover .yamm .nav > li > a, .l-theme.sticky .header-nav:hover .search-trigger {
    color: #fff;
}

.l-theme.sticky .header-nav .navbar-nav {
    text-align: center;
}

.l-theme.sticky .navbar-collapse {
    position: relative;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.l-theme.sticky .yamm {
    display: inline-block;
    float: none;
    border-right: none;
}

.l-theme.sticky .search-trigger, .l-theme.sticky .header-main__btn {
    display: none;
}

.header-navibox-1 .nav, .header-navibox-2 .nav, .header-navibox-3 .nav, .header-navibox-4 .nav {
    position: relative;
    min-height: auto;
    margin-top: 17px;
    margin-bottom: 18px;
    vertical-align: middle;
    border: 0 none;
    z-index: 100;
}

.header-main .toggle-menu-button {
    margin-top: -6px;
}

.yamm .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.yamm .nav {
    margin-right: 13px;
}

.yamm .nav > li {
    display: inline-block;
    float: none;
    padding-right: 4px;
    padding-left: 3px;
}

.yamm .nav > li > a {
    position: relative;
    display: block;
    padding: 9px 11px;
    font-size: 13px;
    font-weight: 700;
    color: #333;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    text-transform: uppercase;
}

.yamm .nav > li > a:hover {
    background-color: transparent;
}

.yamm .nav > li.fw {
    position: inherit;
}

.yamm .nav .open > a, .yamm .nav .open > a:hover, .yamm .nav .open > a:focus {
    background-color: transparent;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    right: 0;
    left: 0;
}

.yamm .yamm-fw {
    position: inherit;
}

.yamm .navbar-toggle .icon-bar {
    background: #fff;
}

.yamm .nav, .yamm .collapse, .yamm .dropup {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    position: absolute;
    top: 40px;
    padding: 0;
    background-color: #333;
}

.yamm .dropdown-menu ul {
    margin: 0 0 25px;
    padding: 0;
    color: #fff;
    list-style: outside none none;
}

.yamm .dropdown-menu > li > a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
}

.yamm .dropdown-menu > li > a:hover, .yamm .dropdown-menu > li > a:focus {
    color: #fff;
}

.yamm .yamm-fw .dropdown-menu {
    left: 0;
}

.yamm .yamm-fw .dropdown-menu a {
    padding: 5px 0;
}

.yamm .yamm-fw.dropdown .dropdown-menu {
    right: 0;
    left: 0;
}

.yamm .yamm-content {
    padding: 20px 30px;
}

.yamm .yamm-content ul > li {
    position: relative;
}

.yamm .yamm-content ul > li:before {
    position: absolute;
    top: 3px;
    left: 0;
    padding-right: 10px;
    font: normal normal normal 14px/1 'ElegantIcons';
    content: '\35';
}

.yamm .yamm-content ul > li > a {
    display: block;
    padding-bottom: 7px;
    padding-left: 25px;
    font-size: 14px;
    color: #fff;
}

.yamm .dropdown-menu .thumbnail {
    padding: 0;
    border: none;
}

.yamm .full-width .dropdown-menu {
    right: 0;
    left: 0;
}

/*ABSOLUTE NAV */
.navbar-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 77;
}

/*LOGO WHITE */
.header.header-logo-white .normal-logo {
    display: block !important;
}

.header.header-logo-white .scroll-logo {
    display: none !important;
}

/*LOGO BLACK */
.header.header-logo-black .normal-logo {
    display: none !important;
}

.header.header-logo-black .scroll-logo {
    display: block !important;
}

/*BACKGROUND  BLACK #000 */
.header.header-background-black {
    background: #484848;
}

/*BACKGROUND  WHITE #fff */
.header.header-background-white {
    background: #fff;
}

.header.header-background-white .top-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/*BACKGROUND  WHITE #fff */
.header.header-background-trans-white-rgba09 {
    background-color: rgba(255, 255, 255, 0.9);
}

.header.header-background-trans-white-rgba08 {
    background-color: rgba(255, 255, 255, 0.8);
}

.header.header-background-trans-white-rgba07 {
    background-color: rgba(255, 255, 255, 0.7);
}

.header.header-background-trans-white-rgba06 {
    background-color: rgba(255, 255, 255, 0.6);
}

.header.header-background-trans-white-rgba05 {
    background-color: rgba(255, 255, 255, 0.5);
}

.header.header-background-trans-white-rgba04 {
    background-color: rgba(255, 255, 255, 0.4);
}

.header.header-background-trans-white-rgba03 {
    background-color: rgba(255, 255, 255, 0.3);
}

.header.header-background-trans-white-rgba02 {
    background-color: rgba(255, 255, 255, 0.2);
}

.header.header-background-trans-white-rgba01 {
    background-color: rgba(255, 255, 255, 0.1);
}

.header.header-background-trans-white-rgba00 {
    background-color: rgba(255, 255, 255, 0);
}

/*COLOR FONTS WHITE #fff */
.header-color-white *, .header.header-color-white .navbar .navbar-nav > li > a {
    color: #fff;
}

.header.header-color-white .toggle-menu-button .toggle-menu-button-icon span {
    background: #fff;
}

.header.header-color-white .navbar .navbar-nav > li > a:hover {
    color: #fff;
}

.header.header-color-white .toggle-menu-button.is-open .toggle-menu-button-icon span {
    background: #fff;
}

.header.header-color-white .header-cart-count {
    color: #000;
    background: #fff;
}

/*COLOR FONTS BLACK #333 */
.header-color-black *, .header.header-color-black .navbar .navbar-nav > li > a {
    color: #333;
}

.header.header-color-black .toggle-menu-button .toggle-menu-button-icon span {
    background: #333;
}

.header.header-color-black .header-cart-count {
    color: #fff;
    background: #333;
}

/*NAV BAR SCROLLING */
.navbar-scrolling * {
    color: #333;
}

.header.navbar-scrolling .navbar .navbar-nav > li > a {
    color: #333;
}

.header.navbar-scrolling .navbar .navbar-nav > li:hover > a, .header.navbar-scrolling .navbar .navbar-nav > li a:hover {
    color: #333 !important;
}

.header.navbar-scrolling .navbar .toggle-menu-button .toggle-menu-button-icon span {
    background: #333;
}

.header.navbar-scrolling .header-cart-count {
    color: #fff;
    background: #333;
}

.header.navbar-scrolling {
    background-color: rgba(255, 255, 255, 0.9);
}

.header.header.navbar-scrolling .normal-logo {
    display: none !important;
}

.header.header.navbar-scrolling .scroll-logo {
    display: block !important;
}

.header.header.navbar-scrolling .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-menu-middle.header.header.navbar-scrolling .header-navibox-2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header-topbarbox-border.navbar-scrolling .header-topbarbox-1, .header-topbarbox-border .header-topbarbox-2 {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar-scrolling .navbar .toggle-menu-button.is-open .toggle-menu-button-icon span {
    background: #333 !important;
}

.navbar-scrolling .top-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/*NORMAL WIDTH */
.header-normal-width .container-boxed-width {
    width: 100%;
    padding: 0;
}

/*FULL WIDTH */
.header-full-width .container {
    width: 100% !important;
    padding: 0;
    text-align: center;
}

.header-full-width .header-navibox-1 {
    padding-left: 25px;
}

.header-full-width #nav .header-navibox-1, .header-full-width #nav .header-navibox-2, .header-full-width #nav .header-navibox-3, .header-full-width #nav .header-navibox-4 {
    display: inline-table;
    float: none !important;
}

.header-full-width .header-navibox-1 {
    position: absolute;
    left: 0;
}

.header-full-width .header-navibox-3 {
    position: absolute;
    right: 90px;
    top: 0;
}

.header-full-width .header-navibox-4 {
    position: absolute;
    right: 0;
}

/*BOXED WIDTH */
.header .navbar-scrolling.header-boxed-width .header-navibox-4 {
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.header-boxed-width #nav {
    border-right: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.header-boxed-width .container-boxed-width .container {
    width: auto !important;
}

.header-boxed-width .header-navibox-4 {
    margin-left: 15px !important;
    padding-right: 0 !important;
    padding-left: 7px !important;
    border-right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.header-boxed-width .header-navibox-1 {
    margin-left: 15px;
}

.header-boxed-width .navbar-scrolling {
    background: none !important;
}

.header-boxed-width .navbar-scrolling #nav {
    margin-top: 15px;
    background: #fff;
}

.header-boxed-width .navbar-scrolling .top-bar {
    display: none;
}

.header-boxed-width .navbar-scrolling #nav {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

/*NAVI BOX FLOAT*/
.header-navibox-1-left .header-navibox-1, .header-navibox-2-left .header-navibox-2, .header-navibox-3-left .header-navibox-3, .header-navibox-4-left .header-navibox-4 {
    float: left !important;
}

.header-navibox-1-right .header-navibox-1, .header-navibox-2-right .header-navibox-2, .header-navibox-3-right .header-navibox-3, .header-navibox-4-right .header-navibox-4 {
    float: right !important;
}

.header-navibox-1-middle .header-navibox-1, .header-navibox-2-middle .header-navibox-2, .header-navibox-3-middle .header-navibox-3, .header-navibox-4-middle .header-navibox-4 {
    margin: 0 auto !important;
}

.header-navibox-4 #nav {
    margin-left: 15px !important;
    padding-right: 15px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.header-navibox-4 {
    margin-left: 15px !important;
    padding-right: 15px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

/*TOP BAR BOX*/
.header-topbar-hidden .top-bar {
    display: none !important;
}

.top-bar {
    border-bottom: 1px solid #eee;
}

.top-bar ul {
    margin: 0;
    padding: 0;
}

.top-bar li {
    display: inline-block;
}

.header-topbarbox-1-left .header-topbarbox-1, .header-topbarbox-2-left .header-topbarbox-2 {
    float: left !important;
}

.header-topbarbox-1-right .header-topbarbox-1, .header-topbarbox-2-right .header-topbarbox-2 {
    float: right !important;
}

.header-topbarbox-1, .header-topbarbox-2 {
    padding: 15px 0;
}

.header-topbarbox-border .header-topbarbox-1, .header-topbarbox-border .header-topbarbox-2 {
    padding-right: 25px;
    padding-left: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

/***** HEADER MENU MIDDLE ****/
.header-menu-middle .header-navibox-2 {
    display: inline-block;
    float: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header-menu-middle .header-navibox-2 li a {
    text-transform: uppercase;
}

.header-menu-middle.header .center-logo a {
    display: inline !important;
}

.header-menu-middle.header.header-logo-white .normal-logo, .header-menu-middle.header .center-logo {
    display: inline-block;
}

.header-menu-middle .nav .header-cart {
    margin: 6px;
}

.header-menu-middle .header-cart {
    position: relative;
    float: right;
    margin: 21px;
    font-size: 20px;
}

.header-menu-middle .navbar-collapse {
    text-align: center;
}

.header-menu-middle .wrap-inside-nav {
    top: 49px;
}

/***** HEADER MAIN ****/
.header-navibox-1, .header-navibox-2, .header-navibox-3, .header-navibox-4 {
    padding: 15px 0;
}

.navbar-brand {
    height: auto;
    padding: 21px 25px 6px 15px;
}

.header.scrolling-header .navbar.navbar-default.navbar-scrolling, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing {
    padding-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e4e4e4;
    background: rgba(255, 255, 255, 0.9);
}

.header.scrolling-header .navbar.navbar-default.navbar-scrolling .navbar-nav li a, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .navbar-nav li a {
    color: #333;
}

.header.scrolling-header .navbar.navbar-default.navbar-scrolling .normal-logo, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .normal-logo {
    display: none;
}

.header.scrolling-header .navbar.navbar-default.navbar-scrolling .scroll-logo, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .scroll-logo {
    display: inline-block;
}

.header.scrolling-header .navbar.navbar-default.navbar-scrolling .toggle-menu-button .toggle-menu-button-icon span, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .toggle-menu-button .toggle-menu-button-icon span {
    background: #333 !important;
}

.header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing {
    background: #fff;
}

.header {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar .toggle-button {
    float: right;
    padding: 0 5px;
    line-height: 40px;
    color: #333;
    cursor: pointer;
}

.navbar .toggle-button.collapsed {
    color: #999;
}

.navbar .toggle-button.collapsed:hover {
    color: #333;
}

.navbar .scroll-logo {
    display: none;
}

.navbar .navbar-nav.social-nav li a {
    padding: 0 5px;
}

.navbar .navbar-nav > li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .navbar-nav > li.no-hover a {
    border: none !important;
    cursor: default;
}

.navbar .navbar-nav > li.active, .navbar .navbar-nav > li:hover {
    border: none;
    background: none;
}

.navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li:hover > a {
    background: none;
}

.navbar-nav.yamm > li > a {
    padding: 0 14px;
}

.navbar-nav > li > a {
    margin: 0 1px;
    padding: 0 7px;
    font: 700 13px Montserrat;
    color: #444;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    text-transform: uppercase;
}

.navbar .navbar-nav > li > a .fa-bars {
    margin-right: 10px;
}

.navbar .main-menu > li {
    right: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar .main-menu > li.hidden-menu-item {
    right: -1500px;
    right: -100vw;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(1), .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2), .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(1) {
    top: 4px;
    left: 2px;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2) {
    top: 4px;
    left: calc(50% - 2px);
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(5) {
    top: 11px;
    left: 2px;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
    top: 11px;
    left: calc(50% - 2px);
}

.toggle-menu-button .toggle-menu-button-icon {
    position: relative;
    position: relative;
    top: -2px;
    display: inline-block;
    width: 22px;
    height: 17px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.toggle-menu-button .toggle-menu-button-icon span {
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background: #8d8d8d;
    opacity: 1;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(odd) {
    left: 0;
    border-radius: 9px 0 0 9px;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(1), .toggle-menu-button .toggle-menu-button-icon span:nth-child(2) {
    top: 0;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(3), .toggle-menu-button .toggle-menu-button-icon span:nth-child(4) {
    top: 6px;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(5), .toggle-menu-button .toggle-menu-button-icon span:nth-child(6) {
    top: 12px;
}

.navbar-with-inside > li:hover .wrap-inside-nav {
    display: block;
}

/***** INSIDE NAV ****/
.wrap-inside-nav {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    min-width: 220px;
    border-top: 2px solid #088cdc;
    background: #1a1a1a;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-align: left;
}

.wrap-inside-nav .inside-col {
    padding: 15px 0;
}

.wrap-inside-nav .inside-col .inside-nav:after, .wrap-inside-nav .inside-col .inside-nav:before {
    display: table;
    height: 0;
    clear: both;
    content: '';
}

.wrap-inside-nav .inside-col .inside-nav li {
    min-height: 45px;
    line-height: 45px;
}

.wrap-inside-nav .inside-col .inside-nav li a {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #7e848e !important;
    text-decoration: none;
}

.wrap-inside-nav .inside-col .inside-nav li a:active, .wrap-inside-nav .inside-col .inside-nav li a:focus {
    display: block;
    padding-left: 20px;
    color: #088cdc !important;
}

.wrap-inside-nav .inside-col .inside-nav li a:hover, .wrap-inside-nav .inside-col .inside-nav li a:active:hover, .wrap-inside-nav .inside-col .inside-nav li a:visited:hover, .wrap-inside-nav .inside-col .inside-nav li a:focus:hover {
    color: #088cdc !important;
    background-color: #26282d;
}

.header-top-menu-support.wrap-fixed-menu {
    top: 141px;
}

.wrap-fixed-menu {
    position: fixed;
    top: 94px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-size: 0;
    background: #333;
    overflow: auto;
    z-index: 10;
    z-index: 99999;
}

.wrap-fixed-menu .top-items {
    display: table;
    width: 100%;
    height: 50%;
}

.wrap-fixed-menu .top-items .menu-item {
    border-bottom: 1px solid #484848;
}

.wrap-fixed-menu .bottom-items {
    display: table;
    width: 100%;
    height: 50%;
}

.wrap-fixed-menu .menu-item {
    position: relative;
    display: inline-block;
    display: table-cell;
    width: 50%;
    height: 50%;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    vertical-align: middle;
    background: #333;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-align: center;
    text-decoration: none;
}

.fixed-menu-hidden .wrap-fixed-menu {
    display: none !important;
}

.wrap-fixed-menu .menu-item.contact-info * {
    color: #fff;
}

.wrap-fixed-menu .menu-item .subtitle {
    color: #e95615;
}

.wrap-fixed-menu .menu-item.contact-info {
    padding-right: 30px;
    padding-left: 30px;
    cursor: default;
}

.wrap-fixed-menu .menu-item.contact-info:hover {
    background: #333;
}

.wrap-fixed-menu .menu-item.contact-info h4 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.wrap-fixed-menu .menu-item.contact-info .fa {
    margin-right: 10px;
}

.wrap-fixed-menu .menu-item:hover {
    background: #484848;
}

.wrap-fixed-menu .menu-item:first-child {
    border-right: 1px solid #484848;
}

.wrap-fixed-menu .menu-item .subtitle {
    margin-bottom: 10px;
    font-size: 16px;
}

.wrap-fixed-menu .menu-item .title {
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.header-cart {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 25px;
    max-height: 23px;
    margin: 20px 10px 20px 20px;
    font-size: 20px;
    text-align: center;
}

.header-cart-count {
    position: absolute;
    top: -5px;
    right: -14px;
    display: inline-block;
    width: 16px;
    height: 15px;
    padding: 5px;
    font-size: 10px;
    line-height: 6px;
    color: #fff;
    border-radius: 100px;
    background: #ed912a !important;
    text-align: center;
}

.toggle-menu-button {
    margin-top: 6px;
    margin-left: 4px;
    border: none;
    background: none;
}

.header-section {
    padding: 180px 0 100px;
    border-bottom: 6px solid #088cdc;
    text-align: center;
}

.header-section h2 {
    color: #fff;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-section p {
    color: #fff;
}

.header-section.elements-header {
    background: url(../../img/section-1-demo.jpg) top center no-repeat;
    background-size: cover;
}

.header-section.portfolio-single-header {
    background: url(../../img/section-1-demo.jpg) top center no-repeat;
    background-size: cover;
}

/*SIDEBARS*/
/**
 * Box Model, Html & Body
 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

[canvas=container], [off-canvas] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[off-canvas*=reveal] {
    padding: 25px 0;
    z-index: 0;
}

/**
 * Canvas
 */
[canvas] {
    z-index: 1;
}

[canvas=container] {
    width: 100%;
    height: 100%;
    background-color: white;
    /* Basic background color, overwrite this in your own css. */
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[canvas=container]:before, [canvas=container]:after {
    display: table;
    clear: both;
    content: '';
}

/**
 * Off-Canavs
 */
[off-canvas] {
    position: fixed;
    display: none;
    color: white;
    /* Basic colors, overwrite this in your own css. */
    background-color: black;
    /* Basic background color, overwrite this in your own css. */
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[off-canvas*=top] {
    top: 0;
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
}

[off-canvas*=top] ul {
    float: none !important;
    margin: 0 !important;
}

[off-canvas*=top] li {
    display: inline-block;
    float: none !important;
    width: auto !important;
}

[off-canvas*=right] {
    top: 0;
    right: 0;
    width: 255px;
    height: 100%;
}

[off-canvas*=bottom] {
    bottom: 0;
    width: 100%;
}

html [off-canvas*=bottom] {
    padding: 25px;
}

html [off-canvas*=bottom] li {
    display: inline-block;
    float: none !important;
    width: auto;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}

html [off-canvas*=bottom] ul {
    display: inline-block;
    width: 100%;
    margin: 0 auto !important;
    text-align: center;
}

[off-canvas*=left] {
    top: 0;
    left: 0;
    width: 255px;
    height: 100%;
}

[off-canvas*=slidebar-panel-left] {
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    padding-left: 70px;
}

.slidebar-panel-wrap {
    position: relative;
    margin-left: -120px;
    padding-top: 50px;
    z-index: 99999 !important;
}

html [off-canvas*=open] {
    display: block;
    margin-left: -255px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate(255px, 0px);
    transform: translate(255px, 0px);
}

[off-canvas*=reveal] {
    z-index: 0;
}

[off-canvas*=push] {
    z-index: 1;
}

[off-canvas*=overlay] {
    z-index: 9999;
}

[off-canvas*=shift] {
    z-index: 0;
}

/**
 * Animation
 */
[canvas], [off-canvas] {
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-backface-visibility: hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}

[off-canvas*=shift][off-canvas*=top] {
    -webkit-transform: translate(0px, 50%);
    transform: translate(0px, 50%);
}

[off-canvas*=shift][off-canvas*=right] {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
}

[off-canvas*=shift][off-canvas*=bottom] {
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}

[off-canvas*=shift][off-canvas*=left] {
    -webkit-transform: translate(50%, 0px);
    transform: translate(50%, 0px);
}

.menu-mobile-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 777;
}

[off-canvas] ul {
    margin: 0 !important;
}

[off-canvas] li {
    display: inline-block;
    float: none !important;
    width: 100%;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}

[off-canvas] li a {
    display: inline-block;
    float: none !important;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
}

[off-canvas] li:hover a {
    color: #088cdc;
}

/*RESPONSIVE STYLES */
@media (min-width: 768px) and (max-width: 1000px) {
    .center-logo {
        padding-top: 20px;
    }

    .top-bar .header-topbarbox-1, .top-bar .header-topbarbox-2, .top-bar .header-topbarbox-3, .top-bar .header-topbarbox-4 {
        float: none !important;
        text-align: center;
    }

    html .menu-mobile-button {
        top: 26px;
    }

    .header-navibox-4, .header-navibox-3, .header-navibox-2 {
        display: none !important;
    }

    .header .navbar {
        min-height: 87px;
    }

    html .header-full-width .header-navibox-1 {
        position: inherit;
        left: auto;
    }

    html .menu-mobile-button {
        top: 26px;
        display: block !important;
    }
}

@media (max-width: 768px) {
    .center-logo {
        padding-top: 20px;
    }

    .top-bar .header-topbarbox-1, .top-bar .header-topbarbox-2, .top-bar .header-topbarbox-3, .top-bar .header-topbarbox-4 {
        float: none !important;
        text-align: center;
    }

    html .menu-mobile-button {
        top: 46px;
    }

    .header-navibox-1, .header-navibox-2, .header-navibox-3, .header-navibox-4 {
        float: none !important;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    .header .navbar {
        min-height: 87px;
    }

    html .header-full-width .header-navibox-1 {
        position: inherit;
        left: auto;
    }

    .wrap-left-open {
        margin-left: 0 !important;
    }

    .wrap-left-open [off-canvas*='slidebar-open'], .slidebar-panel {
        display: none !important;
    }
}

.side-logo {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.side-cart {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.side-cart a {
    color: #fff;
}

.side-search {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.side-form-search {
    position: relative;
    background: #fff;
}

.side-form-search input[type=search] {
    padding: 10px;
    color: #000;
    border: none;
    background: none;
}

.side-form-search .button {
    border: none;
    background: none;
}

.side-form-search .button .fa {
    color: #000;
}

.slidebar-nav-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
}

.slidebar-panel.slidebar-nav-middle .toggle-menu-button {
    position: absolute;
    top: 40%;
    left: -119px;
    display: inline-block;
    width: 300px;
    padding: 21px;
    outline: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.slidebar-panel.slidebar-nav-middle .toggle-menu-button .toggle-menu-button-icon {
    width: 60px;
}

.slidebar-panel.slidebar-nav-middle .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
    left: calc(50% - 21px);
}

.slidebar-panel.slidebar-nav-middle .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2) {
    top: 4px;
    left: calc(50% - 21px);
}

.wrap-left-open {
    margin-left: 255px;
}

/* ======= PRELOADER ========== */
.preloaderjs .spinner {
    display: none !important;
}

.preloaderjs#page-preloader {
    background: rgba(46, 46, 46, 0.99) !important;
}

#page-preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e2e2e;
    z-index: 100500;
}

#page-preloader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: 3px solid transparent;
    border-top-color: #e7e4d7;
    border-radius: 50%;
    z-index: 1001;
    -webkit-animation: spin 2.5s infinite linear;
    animation: spin 2.5s infinite linear;
}

#page-preloader .spinner:before, #page-preloader .spinner:after {
    position: absolute;
    border-radius: 50%;
    content: '';
}

#page-preloader .spinner:before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 3px solid transparent;
    border-top-color: #71383e;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

#page-preloader .spinner:after {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 3px solid transparent;
    border-top-color: #efa96b;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.widget {
    margin-bottom: 25px;
    padding: 40px;
    background-color: #f6f6f6;
}

.widget:first-child {
    padding-top: 95px;
}

.widget .ui-decor-1 {
    margin-bottom: 35px;
}

.widget_bg-white {
    border: 1px solid #eee;
    background-color: #fff;
}

.widget-title {
    padding-bottom: 6px;
    font-size: 16px;
}

.widget-searce .form-sidebar {
    position: relative;
    margin-bottom: 10px;
}

.widget-searce .form-sidebar__input {
    width: 100%;
    height: 50px;
    padding: 14px 20px 12px;
    border: none;
}

.widget-searce .form-sidebar__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 1;
    color: #fff;
    border: none;
    background-color: #444;
    text-align: center;
}

.widget-searce .form-sidebar__btn .icon {
    font-size: 14px;
}

.widget-searce .form-sidebar__info {
    margin-top: 30px;
    font: 700 14px Montserrat;
    color: #444;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.widget-searce .form-sidebar__emphasis {
    margin-bottom: 10px;
    font: 700 28px/1.1 Montserrat;
    text-align: center;
    letter-spacing: 0.1em;
}

.widget-searce .form-sidebar__img {
    margin-top: 10px;
    margin-bottom: -20px;
}

.widget-list {
    margin-top: -18px;
    margin-bottom: -15px;
}

.widget-list .widget-list__item {
    padding-left: 0;
    border-bottom: 1px solid #ddd;
}

.widget-list .widget-list__item:last-child {
    border-bottom: none;
}

.widget-list .widget-list__item:before {
    top: 14px;
    right: 0;
    left: auto;
    font-size: 12px;
    color: #888;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-list .widget-list__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 13px;
    font-family: Montserrat;
    color: #444;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.post-widget {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.post-widget:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: none;
}

.post-widget__media {
    float: left;
    width: 110px;
}

.post-widget__inner {
    padding-left: 128px;
}

.post-widget__title {
    display: block;
    font: 700 13px/1.69 Montserrat;
    color: #444;
}

.post-widget__date {
    display: block;
    margin-top: 8px;
    font: 11px Montserrat;
    text-transform: uppercase;
}

.list-tags {
    margin-right: -7px;
    margin-bottom: 0;
}

.list-tags:before, .list-tags:after {
    display: table;
    content: "";
}

.list-tags:after {
    clear: both;
}

.lt-ie8 .list-tags {
    zoom: 1;
}

.list-tags__link {
    float: left;
    margin-right: 7px;
    margin-bottom: 17px;
    padding: 3px 10px;
    font: 13px Montserrat;
    color: #444;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pruning {
    overflow: hidden;
}

.jarallax {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
}

/*.js-scroll-next + .js-scroll-content {*/
/*display: none;*/
/*}*/
/*.js-scroll-next {*/
/*cursor: pointer;*/
/*}*/
.row_no-mrg {
    margin-right: 0;
    margin-left: 0;
}

.col_no-pdg {
    padding-right: 0;
    padding-left: 0;
}

.block-table {
    display: table;
    width: 100%;
}

.block-table__cell {
    display: table-cell;
    vertical-align: top;
}

.block-table__cell_2-col {
    width: 50%;
}

.block-table__cell_3-col {
    width: 33.333%;
}

.br {
    display: block;
}

.no-br {
    white-space: nowrap;
}

.section-policy {
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-policy h2 {
    margin-bottom: 40px;
}

.section-policy h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-policy p {
    margin-bottom: 5px;
}

.section-policy .list-letter {
    margin-bottom: 10px;
    list-style-type: lower-alpha;
}

.demo-header-7 {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.breadcrumb, .breadcrumb a, .breadcrumb span{
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .04em;
    font-family: Montserrat;
}

.vc_parallax-inner {
    opacity: 0.25;
}

