/* ************************************************
Theme Name: sputnik
Author: Templines
Version: 1.0
Description: Transport & Logistics HTML Template. In 2016, a theme for Wordpress 4.2+
Theme URI:  http://templines.com/product/sputnik-wordpress/
Author URI: templines.com
License: See on zip package
License URI: See on zip package
Text Domain: sputnik
Tags: two-columns, custom-colors, custom-logo, post-formats, translation-ready
*/

/*GLOBAL*/
img {
    height: auto;
    max-width: 100%;
}

/*WORDPRESS*/
.alignleft {
    float: left;
    margin: 10px 15px 10px 0;
}

.alignright {
    float: right;
    margin: 10px 0 10px 15px;
}

.aligncenter {
    display: block;
    margin: 10px auto;
}

.bypostauthor {
    list-style: none;
    background: none;
}

.ui-text ul, .ui-text ol {
    margin-left: 10px;
}

.ui-text h1, .ui-text h2, .ui-text h3, .ui-text h4, .ui-text h5, .ui-text h6 {
    color: #333;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*WIDGETS*/

.sidebar-item select {
    max-width: 100%;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar td, #wp-calendar th {
    border: 1px solid #eee;
    padding: 5px;
    text-align: center;
}

.flickr-feed {
    text-align: left;
}

.flickr-feed li {
    display: inline-block;
    width: auto !important;
    padding: 5px;
}

/*CAPTION*/
.wp-caption {
    max-width: 100%;
    list-style: none;
    background: none;
}

.wp-caption-text {
    list-style: none;
    background: none;
}

.gallery-caption {
    list-style: none;
    background: none;
}

/*
.main-content table td, .main-content table th {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	vertical-align: middle;
}
.list-style-check, .marked_list1 ul ul, .marked_list2 ul ul {
	margin: 0;
	padding: 0 0 0 20px;
}
.page  .main-content   ul , .page  .main-content  ol , .ui-text ul ,  .ui-text ol , .content-comment ul , .content-comment ol{
	margin-left:20px;
}
.entry-main iframe {
	max-width:100%;
}
*/
/*VC ELEMENTS*/
/*
.vc_separator.vc_separator_align_center h4 {
	font-size: 20px;
	padding: 0 0.8em;
	text-transform: uppercase;
}
.sputnik_pix_grid-item{
	margin-bottom:30px;
}
.sputnik_pix_grid-item  .vc_grid-item-mini {
  background: none repeat scroll 0 0 #fff;
  border: 0;
  box-shadow: none !important;
}
.sputnik_pix_grid-item  .vc_gitem-zone-mini{
	background: none repeat scroll 0 0 #fff;
  border: 0;
  box-shadow: none !important;
}
.sputnik_pix_grid-item  .vc_grid-item-mini .vc_gitem-link{
	color: #ffc300;
  margin-top: 20px;
  padding: 0;
}
.sputnik_pix_grid-item  .vc_custom_heading h4 {
  color: #333333;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  text-align: left;
  line-height: 23px;
  text-transform: none;
  width: 100%;
}
.sputnik_pix_grid-item  .vc_gitem-post-data {
	margin-bottom: 0;
}
.sputnik_pix_grid-item  p {
	color: #000;
	margin: 0 0 10px;
}
.sputnik_pix_grid-item  .vc_button-2-wrapper{
	display:none !important;
}
*/
.wpb_heading {
    font-size: 19px;
}

.vc_tta-title-text {
    font-family: inherit;
    list-style: none;
    text-transform: none;
    font-weight: 400;
    color: #333;
    font-size: 13px;
}

/*VC_ROW SETTING*/
.vc_row {
    position: relative;
}

.vc_pixrow-padding-both {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.vc_pixrow-padding-top {
    padding-top: 100px !important;
}

.vc_pixrow-padding-bottom {
    padding-bottom: 100px !important;
}

.vc_pixrow-overlay {
    display: inline-block;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.vc_pixrow-overlay:after {
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.vc_pixrow-overlay .wpb_column {
    position: relative;
    z-index: 3;
}

.text-white * {
    color: #fff;
}

/*.text-white .mc4wp-form button {*/
    /*border: 2px solid #fff !important;*/
/*}*/

.text-black * {
    color: #333;
}

html .comment blockquote, .comment pre {
    background: #fff;
}

.rtd {
    color: #333;
}

.rtd table {
    margin: 20px 0;

}

.rtd table td, .rtd table th {
    padding: 10px;
    border: 1px solid #eeeeee;
    font-weight: normal;

}

.rtd ol {
    margin-left: 25px;
    padding-left: 0;
}

.wrap-media img {
    max-width: 100%;
    height: auto;
}

.gallery-icon a {
    text-align: center;
    display: inline-block;
}

.rtd iframe {
    max-width: 100%;
    max-height: 100%;
}

/*.rtd h1,*/
/*.rtd h2,*/
/*.rtd h3,*/
/*.rtd h4,*/
/*.rtd h5,*/
/*.rtd h6 {*/
    /*text-transform: uppercase;*/
/*}*/

/*.rtd h1,*/
/*.rtd h2,*/
/*.rtd h3 {*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
/*}*/

/*.rtd h4,*/
/*.rtd h5,*/
/*.rtd h6 {*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
/*}*/

/*.rtd h1 {*/
    /*font-size: 30px;*/
/*}*/

/*.rtd h2 {*/
    /*font-size: 24px;*/
/*}*/

/*.rtd h3 {*/
    /*font-size: 20px;*/
/*}*/

/*.rtd h4 {*/
    /*font-size: 16px;*/
/*}*/

/*.rtd h5 {*/
    /*font-size: 14px;*/
/*}*/

/*.rtd h6 {*/
    /*font-size: 11px;*/
/*}*/

/*.rtd h6 a:hover {*/
    /*color: inherit;*/
/*}*/

.rtd .vc_video-bg-container iframe {
    max-width: none;
    max-height: none;
}

/*Boxed*/
.layout-theme.boxed {
    max-width: 1240px;
    margin: auto;
    background: #fff;
    overflow: hidden;
    position: relative;
}

/* vc_tta-accordion */
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus,
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-chevron {
    height: 24px !important;
    width: 24px !important;
/ / background-color: #3e4f59;
}

.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::before {
    border-width: 1px 0 0 !important;
/ / border-color: #fff !important;
    left: 5px !important;
    right: 5px !important;
}

.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::after {
    border-width: 0 0 0 1px !important;
/ / border-color: #fff !important;
    top: 5px !important;
    bottom: 5px !important;
}

.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before {
    top: 7px !important;
    bottom: 7px !important;
    left: 7px !important;
    right: 7px !important;
}

.vc_tta-controls-icon-position-left .vc_tta-title-text {
    margin-left: 5px;
}

.vc_tta-controls-icon-position-right .vc_tta-title-text {
    margin-right: 5px;
}
