.colors {
	position: fixed;
	background-color: #fff;
	left: -120px;
	top: 100px;
	z-index: 11111;
	transition: all 300ms;
}
.colors-item {
	width: 40px;
	height: 40px;
	float: left;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.colors-item-sq {
	width: 20px;
	height: 20px;
	top: 10px;
	left: 10px;
	position: absolute;
	cursor: pointer;
	transition: all 300ms;
}
.colors-item-sq:hover {
	transform: rotate(10deg);
}

.sq-blue{
	background-color: #00c0e2;
}

.sq-red{
	background-color: #f14b4b;
}

.sq-green{
	background-color: #46b971;
}
.colors-item-icon {
	font-size: 24px;
	text-align: center;
	line-height: 37px;
	cursor: pointer;
}